<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <% @sessions.each do |session| %>
        <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
