<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <th>Select a Room Session</th>
    </thead>
    <tbody>
      <% @sessions.each do |session| %>
      <tr>
        <td>
          <%= link_to session.name, roomschedules_list_path(session.id) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
